<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.akp.uniqpay">

    <queries>
        <package android:name="com.whatsapp" />
        <package android:name="com.whatsapp.w4b" />
    </queries>

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/unp_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/unp_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.UniqPay"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Report.Report_MyDirectTeamWebview"
            android:exported="false" />
        <activity
            android:name=".Report.Report_IDToIDTransferWebview"
            android:exported="false" />
        <activity
            android:name=".Report.Report_IDToIDTransfer"
            android:exported="false" />
        <activity
            android:name=".Report.Report_MyDirectTeam"
            android:exported="false" />
        <activity
            android:name=".Report.Report_MyLevelTeam"
            android:exported="false" />
        <activity
            android:name=".SlidingMenu.RegistrationDetails"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Recharge.BBPS_BillPayment"
            android:exported="false"
            android:label="@string/title_activity_bbps_bill_payment"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.UniqPay"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Report.Report_PanGenerationReport"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Report.Report_BankOpeningReport"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Report.Report_PersonalLoanReport"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Report.Report_CreditCartReport"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Report.Report_BillReport"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Report.Report_MobileReport"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Recharge.DTHRecharge"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Walet.AddFundWallet_Web"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Membership.MembershipTopupReport"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Walet.Withdrawal_Web"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Walet.IdToIdTransferWeb"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Membership.Membership_Upgrade_Web"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Membership.Membership_Lifetime_Web"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Dash.PanCardGenrateWebview"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Dash.Das_GENERATEURL"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Dash.Das_LoanGeneration"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Dash.Das_CreditCardLead"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Recharge.BillPayment"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Walet.Withdrawal_History_Web"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".WebPages.Web_GetGenerateUCCForAccount"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Dash.RewardIncome"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Membership.Membership_Upgrade"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Membership.Membership_Lifetime"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Dash.Das_UniqStore"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Dash.Das_ServiceIncome"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Dash.Das_AutoPool"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Dash.Das_ActiveWallet"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Dash.Das_RechargePoint"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Dash.Das_HoldIncome"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Dash.Das_ActiveIncome"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".WebPages.Web_Terms"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".WebPages.Web_Refund"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".WebPages.Web_Policy"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".WebPages.Web_Contact"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".SlidingMenu.Web_topupreport"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".SlidingMenu.Web_clubdesignation"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".SlidingMenu.Web_upgradepackage"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".SlidingMenu.Web_membershipPackage"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".MyAccount.MyProfileWeb"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ViewPlanList"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Recharge.ViewReport"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Recharge.SenderOTPVerify"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Recharge.MoneyRegisterActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Recharge.MoneyTransfer"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Recharge.UPITransfer"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".Recharge.PAYQRSCAN" />
        <activity
            android:name=".Recharge.MobileRecharge"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".SlidingMenu.InboxActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".SlidingMenu.ReportList"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".SlidingMenu.OutboxActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Walet.WalletHistoy"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".SlidingMenu.Withdraw"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".SlidingMenu.LevelTreeWebview"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".SlidingMenu.RaiseAddRequest"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".SlidingMenu.ReferralList"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".SlidingMenu.PlanPurchase"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".SlidingMenu.CustomerRegistrtaion"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".MyAccount.MyOrder"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".MyAccount.KYCDocuments"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".MyAccount.WelcomeLetter"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".MyAccount.Address"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Tickets"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".IncomeDetails.ShopingWallet"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".IncomeDetails.MatchingIncome"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".IncomeDetails.Referralncome"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".MyAccount.ChangePassword"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".MyAccount.MyProfile"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".MyNetwork.DownlineLeftRight"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".MyNetwork.MyTree"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".MyNetwork.DownLine"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".MyNetwork.MyDirect"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Basic.WelcomeSlider"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ActivateScreen"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".SliderSignup"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".MyAccount.UpdateProfile"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".DashboardActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Basic.LoginScreen"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Basic.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".MyNetwork.PlanPurchaseWebview"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Recharge.GetCategoryDetails"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".MyNetwork.LevelIncome"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".NotificationList"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Basic.SplashScreen"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>